# utilies not focused currently
utility

# Global excludes across all subdirectories
*.o
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.sl
*.sl.[0-9]
*.sl.[0-9].[0-9]
*.dylib
*.dll
*.a
*.mo
*.lo
*.la

# Local excludes in root directory
GNUmakefile
config.log
config.status
.deps/
.libs/
cscope.*
build.sh
*.backup
*.bak
*.rpm
gppkg_spec.yml
*.gppkg


# ignore them 1 by 1
postgis/build/postgis-2.1.5/doc/Makefile
postgis/build/postgis-2.1.5/doc/Makefile.comments
postgis/build/postgis-2.1.5/doc/html/image_src/Makefile
postgis/build/postgis-2.1.5/extensions/Makefile
postgis/build/postgis-2.1.5/extensions/postgis/Makefile
postgis/build/postgis-2.1.5/extensions/postgis_tiger_geocoder/Makefile
postgis/build/postgis-2.1.5/extensions/postgis_topology/Makefile
postgis/build/postgis-2.1.5/java/jdbc/Makefile
postgis/build/postgis-2.1.5/liblwgeom/Makefile
postgis/build/postgis-2.1.5/liblwgeom/cunit/Makefile
postgis/build/postgis-2.1.5/liblwgeom/liblwgeom.h
postgis/build/postgis-2.1.5/libpgcommon/Makefile
postgis/build/postgis-2.1.5/libpgcommon/cunit/Makefile
postgis/build/postgis-2.1.5/loader/Makefile
postgis/build/postgis-2.1.5/loader/cunit/Makefile
postgis/build/postgis-2.1.5/loader/pgsql2shp
postgis/build/postgis-2.1.5/loader/shp2pgsql
postgis/build/postgis-2.1.5/postgis/Makefile
postgis/build/postgis-2.1.5/postgis/legacy.sql
postgis/build/postgis-2.1.5/postgis/legacy_gist.sql
postgis/build/postgis-2.1.5/postgis/legacy_minimal.sql
postgis/build/postgis-2.1.5/postgis/postgis.sql
postgis/build/postgis-2.1.5/postgis/postgis_upgrade_20_21.sql
postgis/build/postgis-2.1.5/postgis/postgis_upgrade_20_21.sql.in
postgis/build/postgis-2.1.5/postgis/postgis_upgrade_21_minor.sql
postgis/build/postgis-2.1.5/postgis/sfcgal.sql
postgis/build/postgis-2.1.5/postgis/uninstall_legacy.sql
postgis/build/postgis-2.1.5/postgis/uninstall_postgis.sql
postgis/build/postgis-2.1.5/postgis/uninstall_sfcgal.sql
postgis/build/postgis-2.1.5/postgis_config.h
postgis/build/postgis-2.1.5/raster/Makefile
postgis/build/postgis-2.1.5/raster/loader/Makefile
postgis/build/postgis-2.1.5/raster/loader/raster2pgsql
postgis/build/postgis-2.1.5/raster/raster_config.h
postgis/build/postgis-2.1.5/raster/rt_core/Makefile
postgis/build/postgis-2.1.5/raster/rt_pg/Makefile
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_drop.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_legacy.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_upgrade.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_upgrade_20_21.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_upgrade_21_minor.sql
postgis/build/postgis-2.1.5/raster/rt_pg/rtpostgis_upgrade_cleanup.sql
postgis/build/postgis-2.1.5/raster/rt_pg/uninstall_rtpostgis.sql
postgis/build/postgis-2.1.5/raster/scripts/Makefile
postgis/build/postgis-2.1.5/raster/scripts/python/Makefile
postgis/build/postgis-2.1.5/raster/test/Makefile
postgis/build/postgis-2.1.5/raster/test/cunit/Makefile
postgis/build/postgis-2.1.5/raster/test/regress/Makefile
postgis/build/postgis-2.1.5/regress/Makefile
postgis/build/postgis-2.1.5/topology/Makefile
postgis/build/postgis-2.1.5/topology/test/Makefile
postgis/build/postgis-2.1.5/utils/Makefile
postgis/build/postgis-2.1.5/utils/postgis_restore.pl
